<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <hacker-app>
        <h2>2</h2>
        <div slot="header">
            <h2>2</h2>
        </div>
        <div slot="main">
            <h2>2</h2>
        </div>
        <div slot="footer">
            <h2>2</h2>
        </div>
        <div slot="abe">
            <h2>2</h2>
        </div>
    </hacker-app>
</body>

</html>